<ion-list-header>
    <ion-icon name="list" color="primary"></ion-icon>
    <ion-label>Categorias</ion-label>
</ion-list-header>

<!-- <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button>
            <ion-icon slot="icon-only" name="list" color="primary"></ion-icon>
        </ion-button>
    </ion-buttons>
    <div class="ion-text-center">Categorias</div>
</ion-toolbar> -->

<ion-list>
    <ng-container>
        <ion-item *ngFor="let category of categories" (click)="imFedUpWithThisWorld(category)">
            <ion-label class="ion-text-center">{{category.name}}</ion-label>
        </ion-item>
    </ng-container>

</ion-list>