<ion-header no-border>
    <app-baby-header></app-baby-header>

    <!-- <ion-toolbar>
        <ion-searchbar searchIcon="" placeholder="Buscar" animated mode="ios" autocomplete="true"
            [(ngModel)]="querySearch" (ionChange)="doSearchBy()" debounce="500" (ionClear)="searchClear()">

            <ion-fab-button slot="start" [color]="querySearch ? 'secondary' : 'medium'" size="small"
                (click)="queryOffset = 0; getThreads()">
                <ion-icon size="small" name="search"></ion-icon>
            </ion-fab-button>
        </ion-searchbar>

        <div class="filter-chips">
            <ion-chip *ngIf="queryPoliticalPartyId" outline color="medium" (click)="politicalPartyClear()">
                <ion-label>{{politicalParty}}</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip *ngIf="querySearch" outline color="medium" (click)="searchClear()">
                <ion-label>{{querySearch}}</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
        </div>

    </ion-toolbar> -->
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle class="header-title">Pedir Turnos</ion-card-subtitle>
            <ion-card-title class="header-title">Lugares Cercanos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card *ngIf="commerces && commerces.length == 0" class="no-items-yet ">
                <ion-card-header>
                    <ion-card-title>No tienes comercios cerca</ion-card-title>
                    <ion-card-subtitle>Intenta de nuevo más tarde</ion-card-subtitle>
                </ion-card-header>
            </ion-card>

            <div *ngIf="commerces && commerces.length > 0" class="cards-container">
                <ion-card *ngFor="let commerce of commerces">
                    <ion-card-header>
                        <ion-card-title>{{ commerce.shopName }}</ion-card-title>
                        <ion-card-subtitle>{{ commerce.address }}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="block" shape="round" [routerLink]="['/tabs/get-appointment', commerce.id]"
                            routerLinkActive="router-link-active">
                            Reservar Turno
                        </ion-button>
                    </ion-card-content>

                </ion-card>
            </div>
        </ion-card-content>
    </ion-card>
    
</ion-content>
