ion-content {
    --ion-background-color: linear-gradient(150deg, rgb(0, 173, 231), rgb(0, 178, 238), rgb(0, 180, 239), rgb(1, 173, 235), rgb(1, 171, 232),rgb(0, 160, 222), rgb(0, 147, 207),rgb(1, 131, 189), rgb(2, 119, 172) );
}
ion-button {
    height: 6vh;
    min-height: 40px;
    margin-top: 20vh;
    margin-left: 25vw;
    width: 50vw;
}