<ion-header>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <h4 class="ion-text-center">DE 8 a 9 hs</h4>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Nombre del cliente</ion-card-subtitle>
            <ion-card-title>DNI</ion-card-title>
        </ion-card-header>
        <ion-card button >
                Detalle
        </ion-card>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Nombre del cliente</ion-card-subtitle>
            <ion-card-title>DNI</ion-card-title>
        </ion-card-header>
        <ion-card button >
                Detalle
        </ion-card>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Nombre del cliente</ion-card-subtitle>
            <ion-card-title>DNI</ion-card-title>
        </ion-card-header>
        <ion-card button >
                Detalle
        </ion-card>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Nombre del cliente</ion-card-subtitle>
            <ion-card-title>DNI</ion-card-title>
        </ion-card-header>
        <ion-card button >
                Detalle
        </ion-card>
    </ion-card>
</ion-content>
