<ion-header>
    <!-- <app-commerce-header></app-commerce-header> -->
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="card-header">
            <!-- <ion-card-subtitle>Clientes</ion-card-subtitle> -->
            <ion-card-title>Lista de clientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card *ngFor="let bookingForCommerce of bookingsForCommerce" class="client-card">
                <ion-card-header>
                    <ion-card-title class="eon6-graycolor">
                        {{bookingForCommerce.firstName | titlecase}}
                        {{bookingForCommerce.lastName | titlecase}}
                    </ion-card-title>
                    <ion-card-subtitle class="eon6-graycolor">Dni: {{bookingForCommerce.dni}}</ion-card-subtitle>
                </ion-card-header>
                <ion-button expand="block" (click)="myAppointment(bookingForCommerce)">
                    Detalles
                </ion-button>
            </ion-card>
        </ion-card-content>
    </ion-card>


</ion-content>