<ion-header>
    <!-- <app-commerce-header></app-commerce-header> -->
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <h4 class="ion-text-center">DE 8 a 9 hs</h4>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Nombre del cliente</ion-card-title>
            <ion-card-subtitle>Dni</ion-card-subtitle>
            
        </ion-card-header>
        <ion-button color="primary" shape="round" expand="block" (click)="myAppointment()">
            Detalles
        </ion-button>
    </ion-card>
    
</ion-content>
