<ion-header>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-baby-header></app-baby-header>
</ion-header>
  
<ion-content>

    <ion-card-header>
        <ion-card-title class=ion-text-center>Seleccionar Turno</ion-card-title>
    </ion-card-header>

    <ion-list lines="none">

        <ng-container *ngFor="let hour of hours">
            <ion-item
                *ngIf="(hour.hour >= startHour1 && hour.hour < endHour1) || (hour.hour >= startHour2 && hour.hour < endHour2)">
                <ion-card *ngIf="hour.taken < commerce.maxClients * (6 / commerce.shoppingMinutes)" class="my-shift"
                    color="light" expand="block" [routerLink]="['./appointment-hour', hour.hour]">
                    <ion-item>
                        <ion-label class="eon6-graycolor">{{+hour.hour}}HS A {{+hour.hour+1}}HS</ion-label>
                        <ion-label color="success">Disponible</ion-label>
                    </ion-item>
                </ion-card>
                <ion-card *ngIf="hour.taken >= commerce.maxClients * (6 / commerce.shoppingMinutes)" class="my-shift"
                    color="light" expand="block">
                    <ion-item>
                        <ion-label class="eon6-graycolor">{{+hour.hour}}HS A {{+hour.hour+1}}HS</ion-label>
                        <ion-label color="danger">Completo</ion-label>
                    </ion-item>
                </ion-card>
            </ion-item>
        </ng-container>

    </ion-list>

</ion-content>