.my-shift {
    width: 100%;
    border-radius: 20px;
    ion-item {
        ion-label {
            text-align: center;
        }
    }
}

.daypiker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    // margin: 5px 0px;
    ion-fab-button {
        width: 2rem;
        height: 2rem;
    }
    h3 {
        margin: 0px;
    }
}