<ion-header>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>

    <!-- <ion-item> -->
    <ion-card-header>
        <ion-card-title class=ion-text-center>Seleccionar Turno</ion-card-title>
    </ion-card-header>

    <ion-list lines="none">

        <ion-item>
            <ion-card class="my-shift" [routerLink]="['./appointment-hour']" expand="block">
                <ion-item>
                    <ion-label>DE 7HS A 8HS</ion-label>
                    <ion-label color="success">disponible</ion-label>
                </ion-item>
            </ion-card>
        </ion-item>

        <ion-item>
            <ion-card class="my-shift" [routerLink]="['./appointment-hour']" expand="block">
                <ion-item>
                    <ion-label>DE 8HS A 9HS</ion-label>
                    <ion-label color="danger">no disponible</ion-label>
                </ion-item>
            </ion-card>
        </ion-item>

    </ion-list>
</ion-content>


<!-- <ion-item>
            <ion-card id="my-card" color="light" expand="block" [routerLink]="['./appointment-hour']"
                routerLinkActive="router-link-active" type="button"><span class="eon6-graycolor"> DE 7HS A 8HS
                </span>
                <ion-chip>
                    <ion-label color="success">disponible</ion-label>
                </ion-chip>
            </ion-card>
        </ion-item>

        <ion-item>
            <ion-card id="my-card" color="light" expand="block" [routerLink]="['./appointment-hour']"
                routerLinkActive="router-link-active" type="button"><span class="eon6-graycolor"> DE 8HS A 9HS
                </span>
                <ion-chip>
                    <ion-label color="danger">no disponible</ion-label>
                </ion-chip>
                <ion-chip style="padding: 0px">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-chip>
            </ion-card>
        </ion-item> -->