<ion-header no-border>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-card *ngIf='client'>

        <ion-card-header>
            <ion-card-subtitle>Cuenta</ion-card-subtitle>
            <ion-card-title class="ion-text-center">{{client.firstName | titlecase}} {{client.lastName | titlecase}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-button (click)="doLogOut()" expand="block" color="primary">
                <ion-label> Cerrar sesión</ion-label>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>