.picture-frame {
     display: flex;
     justify-content: center;
     margin-top: 5vh;
     // position: relative;

     .profile-pic {
          width: 40vw;
          height: 40vw;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          text-align: center;
          z-index: 1;
     }

     .i-am-your-father {
          position: relative;
     }

     .change-pic {
          position: absolute;
          z-index: 1;
          bottom: 0;
          right: 0;
     }

     .upload-pic {
          cursor: pointer;
          background-color: var(--ion-color-light);
          color: var(--ion-color-primary);
          width: 40vw;
          height: 40vw;
          border-radius: 50%;
          border: 5px solid var(--ion-color-primary);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          ion-icon {
               font-size: 20vw;
          }
          p {
               text-align: center;
               padding: 0 8vw;
               margin-top: 0;
          }
     }
}

ion-card {
     margin: 8vw;     
     .profile-name {
          max-width: 60vw;
          margin: 3vh auto;
          margin-top: 10vh;
     }
     ion-label {
          color: var(--ion-color-light);
     }
     ion-icon {
          color: var(--ion-color-lights);
          font-size: 2rem; //Preferred size here
     }
     ion-item {
          color: var(--ion-color-medium);
     }
}
