<ion-header no-border>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-card>

        <ion-card-header>
            <ion-card-subtitle>Cuenta</ion-card-subtitle>
            <ion-card-title>Información personal</ion-card-title>
        </ion-card-header>


        <ng-container *ngIf="disabled">
            <ion-button color="primary" class="boton-edit" shape="round" expand="block" (click)=changeDisabled()>
                <ion-label Slots="start" color="light"> Editar Perfil</ion-label>
                <ion-icon Slots="end" name="create"></ion-icon>
            </ion-button>
        </ng-container>


        <ng-container *ngIf="!disabled">
            <ion-button color="danger" class="button-cancel"  item-end shape="round" (click)=changeDisabled()>
                <ion-label color="light"> X
                </ion-label>
            </ion-button>
        </ng-container>

        <ion-card-content>
            <form #myForm="ngForm" (ngSubmit)="onSubmit()">

                <ion-list>
                    <!-- Nombre -->

                    <ion-item [(disabled)]="disabled">
                        <ion-label color="primary" position="floating">Nombre</ion-label>
                        <ion-input name="firstName" #firstName="ngModel" type="text" [(ngModel)]="client.firstName" pattern="[A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+([ ][A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+){0,}[ ]?" required>
                        </ion-input>
                    </ion-item>

                    <ng-container *ngIf="firstName.invalid && ((firstName.dirty && firstName.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="firstName.errors && firstName.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="firstName.errors && firstName.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras y espacios</ion-label>
                        </div>
                    </ng-container>

                    <!-- Apellido -->

                    <ion-item [(disabled)]="disabled">
                        <ion-label color="primary" position="floating">Apellido</ion-label>
                        <ion-input name="lastName" #lastName="ngModel" type="text" [(ngModel)]="client.lastName" pattern="[A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+([ ][A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+){0,}[ ]?" required></ion-input>
                    </ion-item>

                    <ng-container *ngIf="lastName.invalid && ((lastName.dirty && lastName.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="lastName.errors && lastName.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="lastName.errors && lastName.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras y espacios</ion-label>
                        </div>
                    </ng-container>

                    <!-- Mail -->

                    <ion-item [(disabled)]="disabled">
                        <ion-label color="primary" autocomplete="off" position="floating">Direccion de correo electrónico</ion-label>
                        <ion-input #email="ngModel" [(ngModel)]="client.email" name="email" type="email" required pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}[ ]?"></ion-input>
                    </ion-item>

                    <ng-container *ngIf="email.invalid && ((email.dirty && email.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>No parece ser una dirección válida</ion-label>
                        </div>
                    </ng-container>

                    <!-- Contraseña -->

                    <!-- <ion-item>
                        <ion-label color="primary" position="floating">Contraseña</ion-label>
                        <ion-input [(ngModel)]="client.password" name="password" minlength="8" type="password" pattern="[A-Za-z0-9._-]+" required>
                        </ion-input>
                    </ion-item> -->
                    <!-- <ng-container *ngIf="password.invalid && ((password.dirty && password.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.minlength">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>8 caracteres de longitud mínima</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras, números, guiones y puntos</ion-label>
                        </div>
                    </ng-container> -->

                    <!-- DNI -->

                    <!-- Dirección -->

                    <ion-item [(disabled)]="disabled">
                        <ion-label color="primary" position="floating">Direccion</ion-label>
                        <ion-input name="address" #address="ngModel" type="text" [(ngModel)]="client.address" required> </ion-input>
                    </ion-item>

                    <ng-container *ngIf="address.pristine">
                        <div class="ux-warning" lines="none">
                            <ion-icon slot="start" name="warning"></ion-icon>
                            <ion-label>Ajustá tu dirección y no te olvides de Ciudad y Provincia</ion-label>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="address.invalid && ((address.dirty && address.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="address.errors && address.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                    </ng-container>

                </ion-list>
                <!-- Submit Button -->

                <ng-container *ngIf="!disabled">
                    <div class="ion-padding" (click)=desperateUser()>
                        <ion-button type="ngSubmit" color="primary" shape="round" expand="block" [disabled]="myForm.form.invalid">
                            <ion-label color="light"> Editar Perfil</ion-label>
                        </ion-button>
                        <div class="button-helper" lines="none" *ngIf="desperationLevel > 3">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Revise si le quedaron campos sin completar</ion-label>
                        </div>
                    </div>
                </ng-container>



            </form>

        </ion-card-content>
    </ion-card>
</ion-content>