.boton-edit {
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}

.button-cancel {
    margin-left: 70vw;
    font-weight: bolder;
    width: 1vw;
}

.paddingbotton {
    margin-bottom: 10vh;
}

.eye {
    display: flex;
    align-self: end;
}