<ion-header>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-button class="title-button" color="light" expand="block">
        <span class="eon6-graycolor">Mis Turnos</span>
    </ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Direccion 123</ion-card-title>       
            <ion-card-subtitle>Nombre Comercio</ion-card-subtitle>                 
        </ion-card-header>
        <ion-button color="primary" shape="round" expand="block">
            Ver Turno
        </ion-button>
    </ion-card>
</ion-content>