ion-content {
     form {
          height: 100%;
          padding: var(--ion-padding);
          .flex-center {
               display: flex;
               align-items: center;
               justify-content: center;
          }
          ion-slides {
               height: 85%;
               ion-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-self: baseline;
                    ion-item {
                         padding-right: var(--ion-padding);
                         min-height: 8vh;
                    }
                    .toggle-social-media {
                         min-height: 0;
                         ion-label {
                              margin: 0;
                         }
                         ion-toggle {
                              padding: 5px;
                         }
                    }
                    .floor-apt {
                         display: flex;
                         ion-item {
                              width: 100%;
                         }
                    }
               }
          }
     }
     .button-helper {
          color: var(--ion-color-danger);
          font-weight: lighter;
          margin-top: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          ion-label {
               padding-left: 5px;
          }
     }
}
