ion-list{

    margin-top: 4vh !important;
     padding-left:10vw !important;
     padding-right:10vw !important;
     ion-button{
         margin-top: 15vh !important;
     }
     h4{
         font-weight: bolder;
         padding: 10%;
         font-size: 7vw;
     }
 }
 