<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" text="Volver"></ion-back-button>
        </ion-buttons>

        <ion-title class="eon6-font-main eon6-darkcolor eon6-large-text header-logo">
            <img src="../../../../assets/icon/stripes.png" alt="">
            <ion-label>La Corriente</ion-label>
        </ion-title>

        <!-- <ion-title>
                <h1 class="eon6-primarycolor eon6-font-main corriente-header">
                    <img src="../../../../assets/imgs/sol.png" alt="">
                    La Corriente
                </h1>
            </ion-title> -->
        <ion-buttons slot="end">
            <ion-button (click)="testGeolocation()" color="primary" shape="round">
                <ion-label>Test</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>



<!-- <form #myForm="ngForm" (ngSubmit)="onSubmit()" [mustMatch]="['password', 'confirmPassword']"> -->
<ion-content fullscreen>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-slides pager="true">
            <!-- Ficha de datos -->
            <ion-slide>
                <ion-list>
                    <h4 class="ion-text-center">Ficha de datos</h4>

                    <!-- Nombre de Usuario -->
                    <ion-item>
                        <ion-label color="primary" autocomplete="off" position="floating">Nombre de usuario
                        </ion-label>
                        <ion-input name="username" #username="ngModel" type="text" [(ngModel)]="account.username" required minlength="6" pattern="[A-Za-z0-9._-]+[ ]?">
                        </ion-input>
                    </ion-item>
                    <ng-container *ngIf="username.invalid && ((username.dirty && username.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="username.errors && username.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="username.errors && username.errors.minlength">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>6 caracteres de longitud mínima</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="username.errors && username.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras, números, guiones y puntos</ion-label>
                        </div>
                    </ng-container>


                    <!-- Mail -->
                    <ion-item>
                        <ion-label color="primary" autocomplete="off" position="floating">Direccion de correo electronico
                        </ion-label>
                        <ion-input name="email" #email="ngModel" type="email" [(ngModel)]="account.email" required pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}[ ]?">
                        </ion-input>
                    </ion-item>
                    <ng-container *ngIf="email.invalid && ((email.dirty && email.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>No parece ser una dirección válida</ion-label>
                        </div>
                    </ng-container>


                    <!-- Contraseña -->
                    <ion-item>
                        <ion-label color="primary" position="floating">Contraseña</ion-label>
                        <ion-input name="password" #password="ngModel" minlength="8" type="password" pattern="[A-Za-z0-9._-]+" [(ngModel)]="account.password" required>
                        </ion-input>
                    </ion-item>
                    <ng-container *ngIf="password.invalid && ((password.dirty && password.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.minlength">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>8 caracteres de longitud mínima</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="password.errors && password.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras, números, guiones y puntos</ion-label>
                        </div>
                    </ng-container>


                    <!-- Repetir Contraseña -->
                    <!-- <ion-item>
                                        <ion-label color="primary" position="floating">Repetir contraseña</ion-label>
                                        <ion-input name="confirmPassword" #confirmPassword="ngModel" minlength="8" type="password"
                                            pattern="[A-Za-z0-9._-]+" [(ngModel)]="confirmassword" required>
                                        </ion-input>
                                    </ion-item>
                                    <ng-container *ngIf="confirmPassword.invalid && ((confirmPassword.dirty && confirmPassword.touched) || desperationLevel > 3)">
                                        <div class="ux-alert" lines="none"
                                            *ngIf="confirmPassword.errors && confirmPassword.errors.required">
                                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                            <ion-label>Campo Requerido</ion-label>
                                        </div>
                                        <div class="ux-alert" lines="none"
                                            *ngIf="confirmPassword.errors && confirmPassword.errors.minlength">
                                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                            <ion-label>8 caracteres de longitud mínima</ion-label>
                                        </div>
                                        <div class="ux-alert" lines="none"
                                            *ngIf="confirmPassword.errors && confirmPassword.errors.pattern">
                                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                            <ion-label>Solo letras, números, guiones y puntos</ion-label>
                                        </div>
                                    </ng-container> -->

                </ion-list>

            </ion-slide>
            <!-- Datos Personales -->
            <ion-slide>
                <ion-content fulscreen>
                    <ion-list>
                        <h4 class="ion-text-center">Datos Personales</h4>

                        <!-- DNI                -->
                        <ion-item>
                            <ion-label color="primary" position="floating">DNI</ion-label>
                            <ion-input name="dni" #dni="ngModel" type="text" minlength="7" maxlength="8" pattern="[0-9]+" [(ngModel)]="account.dni" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="dni.invalid && ((dni.dirty && dni.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="dni.errors && dni.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="dni.errors && (dni.errors.minlength || dni.errors.maxlength)">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Número no válido</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="dni.errors && dni.errors.pattern">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Sólo números sin puntos ni guiones</ion-label>
                            </div>
                        </ng-container>



                        <!-- address          -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Direccion</ion-label>
                            <ion-input name="address" #address="ngModel" type="text" [(ngModel)]="account.address" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="address.invalid && ((address.dirty && address.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="address.errors && address.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>

                        <!-- firstName          -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Nombre/s</ion-label>
                            <ion-input name="firstName" #firstName="ngModel" type="text" [(ngModel)]="account.firstName" pattern="[A-Za-z]+([ ][A-Za-z]+){0,}[ ]?" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="firstName.invalid && ((firstName.dirty && firstName.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="firstName.errors && firstName.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="firstName.errors && firstName.errors.pattern">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Solo letras y espacios</ion-label>
                            </div>
                        </ng-container>


                        <!-- lastName           -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Apellido/s</ion-label>
                            <ion-input name="lastName" #lastName="ngModel" type="text" [(ngModel)]="account.lastName" pattern="[A-Za-z]+([ ][A-Za-z]+){0,}[ ]?" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="lastName.invalid && ((lastName.dirty && lastName.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="lastName.errors && lastName.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="lastName.errors && lastName.errors.pattern">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Solo letras y espacios</ion-label>
                            </div>
                        </ng-container>


                        <!-- birthDate          -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Fecha de Nacimiento</ion-label>
                            <ion-datetime name="birthDate" #birthDate="ngModel" [max]="minDate" [(ngModel)]="account.birthDate" [dayShortNames]="customDayShortNames" displayFormat="DD MMM YYYY" [monthShortNames]="customMonthShortNames" required>
                            </ion-datetime>
                        </ion-item>
                        <ng-container *ngIf="birthDate.invalid && (birthDate.touched || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="birthDate.errors && birthDate.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>

                        <!-- phoneMobile        -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Teléfono Celular</ion-label>
                            <ion-input name="phoneMobile" #phoneMobile="ngModel" type="tel" minlength="16" maxlength="20" [(ngModel)]="account.phoneMobile" placeholder="(341) 153-123-123" [patterns]="customPatterns" mask="(xxx) 15x-xxx-xxx" pattern="[0-9() -]+" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="phoneMobile.invalid && ((phoneMobile.dirty && phoneMobile.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="phoneMobile.errors && phoneMobile.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="phoneMobile.errors && phoneMobile.errors.minlength">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>La longitud no parece correcta</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="phoneMobile.errors && phoneMobile.errors.pattern">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Escriba sólo números</ion-label>
                            </div>
                        </ng-container>


                        <!-- phoneLandline      -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Teléfono Fijo</ion-label>
                            <ion-input name="phoneLandline" #phoneLandline="ngModel" type="tel" minlength="13" maxlength="20" [(ngModel)]="account.phoneLandline" placeholder="(341) 412-1234" [patterns]="customPatterns" mask="(xxx) xxx-xxxx" pattern="[0-9() -]+">
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="phoneLandline.invalid && phoneLandline.dirty && phoneLandline.touched">
                            <div class="ux-alert" lines="none" *ngIf="phoneLandline.errors && phoneLandline.errors.minlength">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>La longitud no parece correcta</ion-label>
                            </div>
                            <div class="ux-alert" lines="none" *ngIf="phoneLandline.errors && phoneLandline.errors.pattern">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Ingrese sólo números</ion-label>
                            </div>
                        </ng-container>


                    </ion-list>
                </ion-content>


            </ion-slide>

            <!-- Laboral -->
            <ion-slide>

                <ion-list>
                    <h4 class="ion-text-center">Laboral</h4>

                    <!-- studiesId          -->
                    <ion-item>
                        <ion-label position="floating" color="primary">Nivel Educativo</ion-label>
                        <ion-select name="study" #study="ngModel" [(ngModel)]="account.studiesId" required>
                            <ion-select-option *ngFor="let element of studies" [(value)]="element.id">
                                {{element.name | titlecase}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ng-container *ngIf="study.invalid && (study.touched || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="study.errors && study.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                    </ng-container>


                    <!-- jobId              -->
                    <ion-item>
                        <ion-label position="floating" color="primary">Ocupación</ion-label>
                        <!-- <ion-select name="job" #job="ngModel" #job="ngModel" [interfaceOptions]="jobIdInterface"
                                            [(ngModel)]="account.jobId" required> -->

                        <ion-select name="job" #job="ngModel" [(ngModel)]="account.jobId" required>
                            <ion-select-option *ngFor="let element of jobs" [(value)]="element.id">
                                {{element.name | titlecase}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ng-container *ngIf="job.invalid && (job.touched || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="job.errors && job.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                    </ng-container>



                    <!-- politicalPartyId   -->
                    <ion-item>
                        <ion-label position="floating" color="primary">Grupo/s de Militancia</ion-label>
                        <ion-select name="politicalParty" #politicalParty="ngModel" multiple="true" [(ngModel)]="account.politicalPartyId" required>
                            <ion-select-option *ngFor="let element of politicalParties" [(value)]="element.id">
                                {{element.name | titlecase}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ng-container *ngIf="politicalParty.invalid && (politicalParty.touched || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="politicalParty.errors && politicalParty.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                    </ng-container>


                    <!-- afiliated          -->
                    <ion-item lines="none" class="ion-margin-top">
                        <ion-label color="primary">Afiliado</ion-label>
                        <ion-toggle slot="end" name="afiliated" #afiliated="ngModel" [(ngModel)]="account.afiliated">
                        </ion-toggle>
                    </ion-item>

                </ion-list>

            </ion-slide>

            <!-- Dirección -->
            <ion-slide>
                <ion-content>
                    <ion-list>
                        <h4 class="ion-text-center">Dirección</h4>

                        <!-- Provincia      -->
                        <ion-item>
                            <ion-label position="floating" color="primary">Provincia</ion-label>
                            <ion-input value="Santa Fe" readonly></ion-input>
                        </ion-item>

                        <!-- departamento      -->
                        <ion-item>
                            <ion-label position="floating" color="primary">Departamento</ion-label>
                            <ion-select name="department" #department="ngModel" [(ngModel)]="departamentId" (ionChange)=getLocalities() required>
                                <ion-select-option *ngFor="let element of departments" [(value)]="element.id">
                                    {{element.nombre | titlecase}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ng-container *ngIf="department.invalid && (department.touched || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="department.errors && department.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>


                        <!-- localidadId        -->
                        <ion-item>
                            <ion-label position="floating" color="primary">Localidad</ion-label>
                            <ion-select name="locality" #locality="ngModel" [disabled]="!departamentId" [(ngModel)]="account.localidadId" (ionChange)=getStreets() required>
                                <ion-select-option *ngFor="let element of localities" [(value)]="element.localidad_censal_id">
                                    {{element.nombre | titlecase}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ng-container *ngIf="locality.invalid && (locality.touched || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="locality.errors && locality.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>


                        <!-- adressStreet       -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Calle</ion-label>
                            <ion-input [disabled]="!account.localidadId" name="adressStreet" #adressStreet="ngModel" type="text" [(ngModel)]="account.adressStreet" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="adressStreet.invalid && ((adressStreet.dirty && adressStreet.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="adressStreet.errors && adressStreet.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>


                        <!-- adressHouseNumber  -->
                        <ion-item>
                            <ion-label color="primary" position="floating">Número</ion-label>
                            <ion-input [disabled]="!account.adressStreet" name="adressHouseNumber" #adressHouseNumber="ngModel" type="text" [(ngModel)]="account.adressHouseNumber" required>
                            </ion-input>
                        </ion-item>
                        <ng-container *ngIf="adressHouseNumber.invalid && ((adressHouseNumber.dirty && adressHouseNumber.touched) || desperationLevel > 3)">
                            <div class="ux-alert" lines="none" *ngIf="adressHouseNumber.errors && adressHouseNumber.errors.required">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Campo Requerido</ion-label>
                            </div>
                        </ng-container>


                        <!-- Piso       -->
                        <div class="floor-apt">
                            <ion-item>
                                <ion-label color="primary" position="floating">Piso</ion-label>
                                <ion-input [disabled]="!account.adressHouseNumber" name="adressFloor" #adressFloor="ngModel" type="text" [(ngModel)]="account.adressFloor">
                                </ion-input>
                            </ion-item>

                            <!-- Dpto       -->
                            <ion-item>
                                <ion-label color="primary" position="floating">Dpto</ion-label>
                                <ion-input [disabled]="!account.adressFloor" name="adressApartment" #adressApartment="ngModel" type="text" [(ngModel)]="account.adressApartment">
                                </ion-input>
                            </ion-item>
                        </div>

                    </ion-list>
                </ion-content>

            </ion-slide>

            <!-- Redes Sociales -->
            <ion-slide>
                <ion-content fullscreen>
                    <ion-list>
                        <h4 class="ion-text-center">Redes Sociales</h4>

                        <!-- facebook           -->
                        <ion-item class="toggle-social-media" lines="none">
                            <ion-label color="primary">¿Utiliza Facebook?</ion-label>
                            <ion-toggle slot="end" name="usesFacebook" [(ngModel)]="usesFacebook"> </ion-toggle>
                        </ion-item>
                        <ng-container *ngIf="usesFacebook">
                            <ion-item>
                                <ion-label color="primary" position="floating">Ingrese su usuario</ion-label>
                                <ion-input name="facebook" #facebook="ngModel" type="text" minlength="2" [disabled]="!usesFacebook" [(ngModel)]="account.facebook">
                                </ion-input>
                            </ion-item>
                            <ng-container *ngIf="facebook.invalid && facebook.dirty && facebook.touched">
                                <div class="ux-alert" lines="none" *ngIf="facebook.errors && facebook.errors.minlength">
                                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                    <ion-label>¿Seguro que se trata de un usuario válido?</ion-label>
                                </div>
                            </ng-container>
                        </ng-container>


                        <!-- instagram          -->
                        <ion-item class="toggle-social-media" lines="none">
                            <ion-label color="primary">¿Utiliza Instagram?</ion-label>
                            <ion-toggle slot="end" name="usesInstagram" [(ngModel)]="usesInstagram"> </ion-toggle>
                        </ion-item>
                        <ng-container *ngIf="usesInstagram">
                            <ion-item>
                                <ion-label color="primary" position="floating">Ingrese su usuario</ion-label>
                                <ion-input name="instagram" #instagram="ngModel" type="text" minlength="2" [disabled]="!usesInstagram" [(ngModel)]="account.instagram">
                                </ion-input>
                            </ion-item>
                            <ng-container *ngIf="instagram.invalid && instagram.dirty && instagram.touched">
                                <div class="ux-alert" lines="none" *ngIf="instagram.errors && instagram.errors.minlength">
                                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                    <ion-label>¿Seguro que se trata de un usuario válido?</ion-label>
                                </div>
                            </ng-container>
                        </ng-container>


                        <!-- twitter            -->
                        <ion-item class="toggle-social-media" lines="none">
                            <ion-label color="primary">¿Utiliza Twitter?</ion-label>
                            <ion-toggle slot="end" name="usesTwitter" [(ngModel)]="usesTwitter"> </ion-toggle>
                        </ion-item>
                        <ng-container *ngIf="usesTwitter">
                            <ion-item>
                                <ion-label color="primary" position="floating">Ingrese su usuario</ion-label>
                                <ion-input name="twitter" #twitter="ngModel" type="text" minlength="2" [disabled]="!usesTwitter" [(ngModel)]="account.twitter">
                                </ion-input>
                            </ion-item>
                            <ng-container *ngIf="twitter.invalid && twitter.dirty && twitter.touched">
                                <div class="ux-alert" lines="none" *ngIf="twitter.errors && twitter.errors.minlength">
                                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                    <ion-label>¿Seguro que se trata de un usuario válido?</ion-label>
                                </div>
                            </ng-container>
                        </ng-container>


                    </ion-list>
                </ion-content>
            </ion-slide>
            <!-- Test Backend -->
            <!-- <ion-slide>
                            <div>- <span *ngIf="studies">{{studies[0].name}}</span></div>
                            <div>- <span *ngIf="jobs">{{jobs[0].name}}</span></div>
                            <div>- <span *ngIf="politicalParties">{{politicalParties[0].name}}</span></div>
                        </ion-slide> -->
        </ion-slides>
        <div class="ion-padding" (click)=desperateUser()>
            <ion-button type="ngSubmit" color="primary" shape="round" expand="block" [disabled]="myForm.form.invalid">
                <ion-label color="light">Crear cuenta</ion-label>
            </ion-button>
            <div class="button-helper" lines="none" *ngIf="desperationLevel > 3">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                <ion-label>Revise si le quedaron campos sin completar</ion-label>
            </div>
        </div>
    </form>
</ion-content>