<ion-header>
    <app-commerce-header></app-commerce-header>
    <!-- <app-baby-header></app-baby-header> -->
</ion-header>

<ion-content>
    <ion-card *ngIf='commerce'>
        <!-- <ion-card> -->

        <ion-card-header>
            <ion-card-subtitle>Comercio</ion-card-subtitle>
            <ion-card-title class="ion-text-center">{{commerce.shopName | titlecase}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-button (click)="doLogOut()" expand="block" color="primary">
                <ion-label> Cerrar sesión</ion-label>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>