// ion-card-header{
//     ion-card-subtitle{
//         text-align: left;
//     }
//     ion-card-title{
//         text-align: left;
//     }
//     // text-align: left;
// }
.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-paddin {
    height: 10vh;
}

.eye {
    display: flex;
    align-self: end;
}