<ion-header>
    <app-commerce-header></app-commerce-header>



</ion-header>

<ion-content fullscreen>
    <!-- <ion-content> -->
    <form #myForm="ngForm" (ngSubmit)="onSubmit()" style="height: 100%;">



        <!-- Datos del comercio -->
        <!-- <ion-slide> -->
        <!-- <ion-content> -->

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Comercio</ion-card-subtitle>
                <ion-card-title>Configuración</ion-card-title>

                <ng-container *ngIf="editconfig">
                    <ion-chip color="success" (click)=changeDisabledconfig()>
                        <ion-icon name="create" color="dark"></ion-icon>
                        <ion-label>Editar</ion-label>
                    </ion-chip>
                </ng-container>

                <ng-container *ngIf="!editconfig">
                    <ion-chip color="danger" (click)=changeDisabledconfig()>
                        <ion-label>Cancelar</ion-label>
                        <ion-icon name="close"></ion-icon>
                    </ion-chip>
                </ng-container>


            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="9" class="flex-center">
                            <div>
                                <!-- <ion-label color="primary" position="floating">Duración del turno (minutos)</ion-label> -->
                                <ion-button [(disabled)]="editconfig" expand="block" (click)="maxClientsPicker()">Max.
                                    Clientes </ion-button>
                            </div>
                        </ion-col>
                        <ion-col size="3">
                            <!-- Max Clients -->
                            <ion-item [(disabled)]="editconfig">
                                <ion-input disabled name="maxClients" #maxClients="ngModel"
                                    [(ngModel)]="commerce.maxClients" pattern="[1-9][0-9]*" required>
                                </ion-input>
                            </ion-item>
                            <ng-container
                                *ngIf="maxClients.invalid && ((maxClients.dirty && maxClients.touched) || desperationLevel > 3)">
                                <div class="ux-alert" lines="none"
                                    *ngIf="maxClients.errors && maxClients.errors.required">
                                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                    <ion-label>Campo Requerido</ion-label>
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="9" class="flex-center">
                            <div>
                                <!-- <ion-label color="primary" position="floating">Duración del turno (minutos)</ion-label> -->
                                <ion-button [(disabled)]="editconfig" expand="block" (click)="shoppingMinutesPicker()">
                                    Tiempo del Turno</ion-button>
                            </div>
                        </ion-col>
                        <ion-col size="3">
                            <!-- Shopping minutes -->
                            <ion-item [(disabled)]="editconfig">
                                <ion-input disabled name="shoppingMinutes" #shoppingMinutes="ngModel"
                                    [(ngModel)]="commerce.shoppingMinutes" pattern="[1-9]" required>
                                </ion-input>
                            </ion-item>
                            <ng-container
                                *ngIf="shoppingMinutes.invalid && ((shoppingMinutes.dirty && shoppingMinutes.touched) || desperationLevel > 3)">
                                <div class="ux-alert" lines="none"
                                    *ngIf="shoppingMinutes.errors && shoppingMinutes.errors.pattern">
                                    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                    <ion-label>El número no parece válido</ion-label>
                                </div>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <!-- Horarios del Comercio -->
                <h4 class="ion-text-center eon6-primarycolor">Horario de Atención</h4>
                <ion-grid>
                    <!-- <ion-row>
                        <ion-col>
                            {{commerce.openTime1}}
                        </ion-col>
                    </ion-row> -->
                    <ion-row>
                        <ion-col>
                            <!-- Horario Corrido           -->
                            <ion-item [(disabled)]="editconfig" class="toggle-social-media" lines="none">
                                <ion-label color="primary">Horario Cortado</ion-label>
                                <ion-toggle slot="end" name="commerce.splitShift" [(ngModel)]="commerce.splitShift">
                                </ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item [(disabled)]="editconfig">
                                <ion-label color="primary" position="floating">Desde</ion-label>
                                <ion-datetime name="openTime1" locale="es-AR" displayFormat="HH:mm"
                                    minuteValues="0, 10, 20, 30, 40, 50" cancelText="cancelar" doneText="terminado"
                                    pickerFormat="HH:mm" [(ngModel)]="commerce.openTime1">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item [(disabled)]="editconfig">
                                <ion-label color="primary" position="floating">Hasta</ion-label>
                                <ion-datetime name="closeTime1" locale="es-AR" displayFormat="HH:mm"
                                    minuteValues="0, 10, 20, 30, 40, 50" cancelText="cancelar" doneText="terminado"
                                    pickerFormat="HH:mm" [(ngModel)]="commerce.closeTime1">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="commerce.splitShift">
                        <ion-col>
                            <ion-item [(disabled)]="editconfig">
                                <ion-label color="primary" position="floating">Desde</ion-label>
                                <ion-datetime name="openTime2" locale="es-AR" displayFormat="HH:mm"
                                    minuteValues="0, 10, 20, 30, 40, 50" cancelText="cancelar" doneText="terminado"
                                    pickerFormat="HH:mm" [(ngModel)]="commerce.openTime2">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item [(disabled)]="editconfig">
                                <ion-label color="primary" position="floating">Hasta</ion-label>
                                <ion-datetime name="closeTime2" locale="es-AR" displayFormat="HH:mm"
                                    minuteValues="0, 10, 20, 30, 40, 50" cancelText="cancelar" doneText="terminado"
                                    pickerFormat="HH:mm" [(ngModel)]="commerce.closeTime2">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ng-container *ngIf="!editconfig">
                        <div class="ion-padding" (click)=desperateUser()>
                            <ion-button type="ngSubmit" color="primary" shape="round" expand="block"
                                [disabled]="myForm.form.invalid">
                                <ion-label color="light">Guardar</ion-label>
                            </ion-button>
                            <div class="button-helper" lines="none" *ngIf="desperationLevel > 3">
                                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                                <ion-label>Revise si le quedaron campos sin completar</ion-label>
                            </div>
                        </div>
                    </ng-container>
                </ion-grid>
            </ion-card-content>
        </ion-card>


        <!-- <ion-content> -->
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Cuenta</ion-card-subtitle>

                <ion-card-title>Informacion General</ion-card-title>

                <ng-container *ngIf="editInfo">
                    <ion-chip color="success" (click)=changeDisabledinfo()>
                        <ion-icon name="create" color="dark"></ion-icon>
                        <ion-label>Editar</ion-label>
                    </ion-chip>
                </ng-container>

                <ng-container *ngIf="!editInfo">
                    <ion-chip color="danger" (click)=changeDisabledinfo()>
                        <ion-label>Cancelar</ion-label>
                        <ion-icon name="close"></ion-icon>
                    </ion-chip>
                </ng-container>


            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <!-- Mail -->
                    <ion-item [(disabled)]="editInfo">
                        <ion-label color="primary" autocomplete="off" position="floating">Direccion de correo
                            electronico
                        </ion-label>
                        <ion-input name="email" #email="ngModel" type="email" [(ngModel)]="commerce.email" required
                            pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}[ ]?">
                        </ion-input>
                    </ion-item>
                    <ng-container *ngIf="email.invalid && ((email.dirty && email.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="email.errors && email.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>No parece ser una dirección válida</ion-label>
                        </div>
                    </ng-container>

                    <!-- Nombre del comercio -->
                    <ion-item [(disabled)]="editInfo">
                        <ion-label color="primary" position="floating">Nombre del Comercio</ion-label>
                        <ion-input name="shopName" #shopName="ngModel" type="text" [(ngModel)]="commerce.shopName"
                            required>
                        </ion-input>
                    </ion-item>
                    <ng-container
                        *ngIf="shopName.invalid && ((shopName.dirty && shopName.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="shopName.errors && shopName.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="shopName.errors && shopName.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Solo letras y espacios</ion-label>
                        </div>
                    </ng-container>

                    <!-- Cuit/Cuil                -->
                    <ion-item [(disabled)]="editInfo">
                        <ion-label color="primary" position="floating">CUIT/CUIL</ion-label>
                        <ion-input name="cuitCuil" #cuitCuil="ngModel" type="text" minlength="7" maxlength="20"
                            [(ngModel)]="commerce.cuitCuil" required>
                        </ion-input>
                    </ion-item>
                    <ng-container
                        *ngIf="cuitCuil.invalid && ((cuitCuil.dirty && cuitCuil.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="cuitCuil.errors && cuitCuil.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none"
                            *ngIf="cuitCuil.errors && (cuitCuil.errors.minlength || cuitCuil.errors.maxlength)">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Número no válido</ion-label>
                        </div>
                    </ng-container>

                    <!-- Direccion comercio -->
                    <ion-item [(disabled)]="editInfo">
                        <ion-label color="primary" position="floating">Calle</ion-label>
                        <ion-input name="address" #address="ngModel" type="text" [(ngModel)]="commerce.address"
                            required>
                        </ion-input>
                    </ion-item>
                    <ng-container
                        *ngIf="address.invalid && ((address.dirty && address.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="address.errors && address.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                    </ng-container>

                    <!-- Phone Number -->
                    <ion-item [(disabled)]="editInfo">
                        <ion-label color="primary" position="floating">Telefono</ion-label>
                        <ion-input name="phone" #phone="ngModel" type="phone" [(ngModel)]="commerce.phone"
                            pattern="[0-9]{6,}" required>
                        </ion-input>
                    </ion-item>
                    <ng-container *ngIf="phone.invalid && ((phone.dirty && phone.touched) || desperationLevel > 3)">
                        <div class="ux-alert" lines="none" *ngIf="phone.errors && phone.errors.required">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Campo Requerido</ion-label>
                        </div>
                        <div class="ux-alert" lines="none" *ngIf="phone.errors && phone.errors.pattern">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Ingrese sólo números (min 6)</ion-label>
                        </div>
                    </ng-container>

                </ion-list>

                <ng-container *ngIf="!editInfo">
                    <div class="ion-padding">
                        <div (click)=desperateUser()>
                            <ion-button type="ngSubmit" color="primary" shape="round" expand="block"
                                [disabled]="myForm.form.invalid">
                                <ion-label color="light">Guardar</ion-label>
                            </ion-button>
                        </div>
                        <div class="button-helper" lines="none" *ngIf="desperationLevel > 3">
                            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                            <ion-label>Revise si le quedaron campos sin completar</ion-label>
                        </div>
                    </div>
                </ng-container>
                <div class="div-paddin"></div>



            </ion-card-content>
        </ion-card>
        <!-- </ion-content> -->



    </form>
</ion-content>