<ion-tabs>
    <ion-tab-bar slot="bottom">

         <ion-tab-button class="eon6-graycolor" tab="home">
            <ion-icon name="home" class="icon"></ion-icon>
        </ion-tab-button>
        <!-- MAPAS EN TESTEO -->
        <ion-tab-button class="eon6-graycolor icon-map" tab="maps">
            <i class="fas fa-map-marked-alt"></i>
        </ion-tab-button>
        <ion-tab-button class="eon6-graycolor" tab="appointment">
            <ion-icon name="alarm"></ion-icon>
        </ion-tab-button>

        <ion-tab-button class="eon6-graycolor" tab="profile">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>        
    </ion-tab-bar>
</ion-tabs>