<ion-header>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-list>
        <h4 class="ion-text-center">HORARIOS</h4>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            7 a 8
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            8 a 9
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active"  >
            10 a 11
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            11 a 12
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            13 a 14
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            15 a 16
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            17 a 18
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active"  >
            19 a 20
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            21 a 22
        </ion-button>
        <ion-button expand="block" shape="round" [routerLink]="['./appointment-hour']" routerLinkActive="router-link-active" >
            22 a 23
        </ion-button>
    </ion-list>
</ion-content>