.title-button {
     margin-top: 5vh;
     padding-right: 5%;
     padding-left: 5%;
}

ion-list {
     margin-top: 0;
     padding-top: 0;

     ion-button {
          margin-top: 7vh !important;
          margin-bottom: 15px;
          padding-right: 5%;
          padding-left: 5%;
     }

     ion-card {
          //  margin-top: 5vh;
          //  width: 90vw;
          margin-left: 5vw;
          //  height: 60vh;
          padding: 0;
          ion-item {
               //  margin-top: 3vh;
               ion-label {
                    font-size: 150%;
               }
          }
     }
}
ion-toolbar {
    --background: linear-gradient(150deg, var(--ion-color-primary), var(--ion-color-secondary));
}

.header-logo {
    img {
        height: 6vh;
        max-height: 50px;
        border: 0;
        vertical-align: middle;
    }
    ion-label {
        vertical-align: middle;
        font-size: x-large;
    }
}

.profile-pic {
    // margin: 5vh auto;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
}

.logoutbutton {
    font-size: 5vmax;
}
