<ion-header>
    <app-baby-header></app-baby-header>
</ion-header>

<ion-content>
    <ion-button class="title-button" color="light" expand="block">
        <span class="eon6-graycolor">Seleccionar Hora</span>
    </ion-button>
    <ion-list>

        <ion-card>
            <ion-radio-group allow-empty-selection>
                <ion-item>
                    <ion-label>8:00</ion-label>
                    <ion-radio slot="end" color="primary"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>8:15</ion-label>
                    <ion-radio slot="end" color="primary"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>8:30</ion-label>
                    <ion-radio slot="end" color="primary"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>8:45</ion-label>
                    <ion-radio slot="end" color="primary"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-button expand="block" shape="round" (click)="confirm($event)" [routerLink]="['/tabs/home']"
                routerLinkActive="router-link-active">
                Confirmar
            </ion-button>
        </ion-card>


    </ion-list>

</ion-content>