/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Optional CSS utils that can be commented out */
@import "~animate.css/animate.min";

ion-button {
     --border-radius: 30px;
     color: var(--ion-color-light);
}

ion-header {
     --background-color: var(--ion-color-light);
}

ion-content {
     --ion-background-color: var(--ion-color-light);
}

ion-footer {
     background-color: var(--ion-color-light);
}

ion-alert {
     --background: var(--ion-color-light) !important;
     --min-width: 90% !important;
     --min-height: auto !important;
}

ion-action-sheet {
     --background: var(--ion-color-light) !important;
}

ion-popover {
     --background: var(--ion-color-light) !important;
     ion-backdrop {
          opacity: 0.8 !important;
     }
     ion-item {
          --background: var(--ion-color-light) !important;
     }
     .popover-wrapper {
          .popover-content {
               width: 80vw;
               max-width: 500px;
          }
     }
}

.eon6-primarycolor {
     color: var(--ion-color-primary);
}

.eon6-secondarycolor {
     color: var(--ion-color-secondary);
}

.eon6-darkcolor {
     color: var(--ion-color-dark);
}

.eon6-graycolor {
     color: var(--ion-color-medium);
}

.eon6-lightcolor {
     color: var(--ion-color-light);
}

.eon6-font-main {
     font-family: "Fjalla One";
}

.eon6-blankspace {
     min-height: 15%;
     --ion-background-color: linear-gradient(150deg, var(--ion-color-primary), var(--ion-color-tertiary));
}

.eon6-large-text {
     font-size: xx-large;
}

.ux-alert {
     display: flex;
     align-items: center;
     padding-left: 20px;
     color: var(--ion-color-danger);
     font-weight: lighter;
     --min-height: 0 !important;
     ion-label {
          padding-left: 5px;
          font-size: small;
     }
     ion-icon {
          padding: 3px;
          font-size: x-large;
     }
}

.ux-warning {
     display: flex;
     align-items: center;
     padding-left: 20px;
     color: var(--ion-color-warning);
     font-weight: lighter;
     --min-height: 0 !important;
     ion-label {
          padding-left: 5px;
          font-size: small;
     }
     ion-icon {
          padding: 3px;
          font-size: x-large;
     }
}

//arreglando teclado que sobrepasa el contenido
// ion-modal {
//     @media (min-height: 500px) {
//         ion-backdrop {
//             visibility: visible !important;
//         }
//     }
//     position: absolute !important;
//     top: 0 !important;
//     right: 0 !important;
//     bottom: 0 !important;
//     left: 0 !important;
//     z-index: 1 !important;
//     display: flex !important;

//     align-items: center !important;
//     justify-content: center !important;

//     contain: strict !important;
//
//     .modal-wrapper {
//         &,
//         .ion-page,
//         .ion-page .content,
//         .ion-page .content .scroll-content {
//             contain: content;
//             position: relative;
//             top: auto;
//             left: auto;
//             padding: 1px;

//         }

//         z-index: $z-index-overlay-wrapper;
//         display: flex;
//         overflow: hidden;
//         flex-direction: column;
//         min-width: $alert-min-width;
//         max-height: $alert-max-height;
//         opacity: 0;
//         height: auto;
//         /*
//         max-width: $alert-md-max-width;
//         */
//         max-width:600px;
//         border-radius: $alert-md-border-radius;
//         background-color: $alert-md-background-color;
//         box-shadow: $alert-md-box-shadow;
//         border-radius: 5px;
//         padding: 5px;

//         .ion-page .content {
//             background-color: color($colors, light);

//         }

//         .ion-page{
//             overflow-y: auto;
//         }
//     }
// }
