<ion-tabs>
    <ion-tab-bar slot="bottom">

        <!-- <ion-tab-button class="eon6-graycolor" tab="home">
            <ion-icon name="home" class="icon"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button class="eon6-graycolor" tab="cart">
            <ion-icon name="cart" class="icon"></ion-icon>
        </ion-tab-button> -->

        <ion-tab-button class="eon6-graycolor" tab="forum">
            <ion-icon name="chatboxes" class="icon"></ion-icon>
        </ion-tab-button>
        
        <!-- <ion-tab-button class="eon6-graycolor" tab="mybaby">
            <ion-icon name="beer" class="icon"></ion-icon>
        </ion-tab-button>
                
        <ion-tab-button class="eon6-graycolor" tab="notifications">
            <ion-icon name="notifications" class="icon"></ion-icon>
        </ion-tab-button> -->
        
    </ion-tab-bar>
</ion-tabs>