<ion-content>

    <div class="eon6-lightcolor eon6-font-main logo">
        <h2 id="title"> 
            Desde Casa
        </h2>
    </div>

    <form #form="ngForm" >
        <div class=log-in>
            <ion-item class="ion-margin-horizontal">
                <ion-label autocomplete="on" position="floating">Nombre de usuario</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="client.username" required> </ion-input>
            </ion-item>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="client.password" required>
                </ion-input>
            </ion-item>

            <ion-button color="light" fill="outline" shape="round" type="ngSubmit" [routerLink]="['/tabs/forum']" routerLinkActive="router-link-active"  expand="block">
                Ingresar
            </ion-button>
        </div>
    </form>
    <div class="ion-text-right eon6-lightcolor register">

        <ion-label>¿No estás registrado?</ion-label>
        <ion-button color="light" fill="outline" shape="round" type="ngSubmit" expand="block" [routerLink]="['/register-complete']">
            Registrar
        </ion-button>
    </div>

</ion-content>