<ion-content>

    <div class="eon6-lightcolor eon6-font-main logo">
        <h2 id="title"> 
            Desde Casa
        </h2>
    </div>

    <form #myForm="ngForm" (ngSubmit)="doLogin()">
        <div class=log-in>
            <ion-item class="ion-margin-horizontal">
                <ion-label autocomplete="on" position="floating">Email</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="email" required> </ion-input>
            </ion-item>
            <ion-item class="ion-margin-horizontal">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="password" required>
                </ion-input>
            </ion-item>

            <ion-button color="light" [disabled]="myForm.form.invalid" fill="outline" shape="round" type="ngSubmit" routerLinkActive="router-link-active"  expand="block">
                Ingresar
            </ion-button>
            <!-- <ion-button color="light" fill="outline" shape="round" type="ngSubmit" [routerLink]="['/manage-commerce/commerce-tabs/schedule']" routerLinkActive="router-link-active"  expand="block">
                Ingresar comercio
            </ion-button> -->
        </div>
    </form>

    <div class="ion-text-right eon6-lightcolor register">

        <ion-button color="light" fill="outline" shape="round" type="ngSubmit" expand="block" [routerLink]="['/register-complete']">
            Registrar
        </ion-button>
        <ion-label>¿No estás registrado?</ion-label>
    </div>

</ion-content>