<ion-content class="ion-text-center">

    <!-- <form #form="ngForm" (ngSubmit)="doLogin(form)"> -->
    <form #form="ngForm">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

                    <div class="ion-text-left ion-margin eon6-primarycolor eon6-font-main brand-title">
                        <h1>La Corriente</h1>
                    </div>

                    <div class="ion-text-left ion-margin eon6-primarycolor">
                        <h4>Recuperar cuenta</h4>
                    </div>

                    <div>
                        <ion-item class="ion-margin-horizontal">
                            <ion-label color="medium" autocomplete="on" position="stacked">Direccion de correo
                                electronico</ion-label>
                            <ion-input name="email" type="email" [(ngModel)]="client.email" required
                                pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}">
                            </ion-input>
                        </ion-item>
                    </div>

                    <div class="ion-padding">
                        <ion-button (click)="onClickEnviarCorreo()" color="primary" shape="round"
                            [disabled]="form.invalid" expand="block">
                            <ion-label color="light">
                                Enviar correo
                            </ion-label>
                        </ion-button>
                    </div>

                    <div class="ion-text-left ion-margin eon6-graycolor">
                        <h6>Te enviaremos un correo con los pasos para recuperar tu cuenta, por favor revisa tu bandeja
                            de entrada.</h6>
                    </div>

                    <div class="ion-text-right ion-padding eon6-primarycolor return-icon">
                        <ion-icon name="arrow-dropleft" [routerLink]="['/start']"></ion-icon>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>