// ion-content {
//     --ion-background-color: linear-gradient(
//          150deg,
//          rgb(0, 173, 231),
//          rgb(0, 178, 238),
//          rgb(0, 180, 239),
//          rgb(1, 173, 235),
//          rgb(1, 171, 232),
//          rgb(0, 160, 222),
//          rgb(0, 147, 207),
//          rgb(1, 131, 189),
//          rgb(2, 119, 172)
//     );
// }
.eon6-button {
  min-width: 150px;
}

.eon6-redes {
  margin-top: 15%;
}

.recover-pass {
  margin-right: 20px;
}

.return-icon {
  font-size: 2.2rem;
}

ion-footer {
  font-size: 0.7rem;
}

